<ion-content >


<ion-grid fixed>
  <ion-row>
    <ion-col >


    <h3>Favoritos</h3>

    </ion-col>

  </ion-row>
</ion-grid>
<!-- llamamos al evento para actualizar los datos -->

<app-poster [peliculas]="peliculas" (load)="cargarDatos($event)"></app-poster>


<app-grids titulo="Por género"></app-grids>

<div *ngFor="let genero of mezcla" >

<ion-grid fixed  *ngIf="genero.pelis.length > 0">
  <ion-row>
    <ion-col  >
      {{genero.genero}}
      
     
    </ion-col>

  </ion-row>

  <app-poster [peliculas]="genero.pelis" (load)="cargarDatos($event)" ></app-poster>
</ion-grid>


</div>



<ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary" >
  <ion-fab-button color="primary" (click)="onClick()">
    <ion-icon name="reload-outline"  color="dark"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>